@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --paddingIPhone: 150px;
}

*, *:after, *:before {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  vertical-align: middle;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 20;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: var(--paddingIPhone);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px 20px 50px 20px;
  text-align: center;
}

section p {
  max-width: 900px
}

input, select, label {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  appearance: none;
}

button {
  cursor: pointer;
}

a {
  list-style:none;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 10px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
}

p, small, del {
  font-weight: normal;
}

small {
  font-size: 0.625rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.w-almostScreen {
  width: calc(100vw - 40px);
}

.h-almostScreen {
  height: calc(100vh - 200px);
}

.max-h-almostScreen {
  max-height: calc(100vh - 200px);
}

.list-item::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 8px;
    width: 8px;
    height: 8px;
    background-color: #cb97a5;
    border-radius: 50%;
}

.animeLeft {
  opacity: 0;
  transform: translateX(calc(-100vw * 0.2));
  animation: animeX .3s forwards;
}

.animeRight {
  opacity: 0;
  transform: translateX(calc(100vw * 0.2));
  animation: animeX .3s forwards;
}

@keyframes animeX {
  to{
      opacity: 1;
      transform: initial;
  }
}

@media (min-width: 40rem) {
  .contain::-webkit-scrollbar, .bgPaper::-webkit-scrollbar {
      background: transparent;
      width: 10px;
  }
  .contain::-webkit-scrollbar-track, .bgPaper::-webkit-scrollbar-track {
      background: rgba(127,105,91,0.2);
      border-radius: 10px;
      padding: 5px;
  }
  .contain::-webkit-scrollbar-thumb, .bgPaper::-webkit-scrollbar-thumb {
      background-color: rgba(127,105,91,0.4);
      border-radius: 10px;
  }
}

.shadowBg {
  padding: 20px 20px;
  border-radius: 40px;
  background: rgba(0,0,0,0.7);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.7);
  margin-top: 10px;
}